h1, h2, h3 {
  background-color: rgb(168, 168, 168);
  text-align: center;
}

.frontimg {
  text-align: center;
}

#one {
  background-color: rgb(168, 168, 168);
  color: white;
  font-weight: bold;
  font-size: 25px;
  display: grid;
  margin: auto;
} 

#two {
  background-color: rgb(168, 168, 168);
  color: white;
  font-weight: bold;
  font-size: 25px;
  display: grid;
  margin: auto;
} 

#three {
  background-color: rgb(168, 168, 168);
  color: white;
  font-weight: bold;
  font-size: 25px;
  display: grid;
  margin: auto;
} 

ul, ol {
  text-align: left;
  font-size: 16px;
  margin: auto;
}
